{% extends "base.html" %}

{% block title %}Detalle de {{libro.titulo}}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Detalle de {{ libro.titulo }}</h1>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item"><strong>Título:</strong> {{ libro.titulo }}</li>
                        <li class="list-group-item"><strong>Autor:</strong> {{ libro.autor }}</li>
                        <li class="list-group-item"><strong>Fecha de Publicación:</strong> {{ libro.fecha_publicacion }}</li>
                        <li class="list-group-item"><strong>Descripción:</strong> {{ libro.descripcion }}</li>
                        <li class="list-group-item"><strong>Género:</strong> {{ libro.genero }}</li>
                        <li class="list-group-item"><strong>Creado por:</strong> {{ libro.creado_por.username }}</li>
                        <li class="list-group-item"><strong>Fecha de Creación:</strong> {{ libro.fecha_creacion }}</li>
                        <li class="list-group-item">
                            <strong>Imagen:</strong>
                            {% if libro.imagen %}
                                <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}" class="img-fluid rounded mt-2" style="max-width: 200px;">
                            {% else %}
                                No disponible
                            {% endif %}
                        </li>
                    </ul>
                    <div class="text-center">
                        <a href="{% url 'lista_libros' %}" class="btn btn-secondary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}