{% extends "base.html" %}

{% block title %}Lista de Libros{% endblock %}

{% block content %}

<h1>Lista de Libros</h1>

<button class="btn btn-primary mb-3">
    <a href="{% url 'crear_libro' %}" class="text-white text-decoration-none">Subir Nuevo Libro</a>
</button>
{% if libros %}
    <ul class="list-group">
        {% for libro in libros %}
            <li class="list-group-item">
                <div>
                <a href="{% url 'detalle_libro' libro.pk %}">{{ libro.titulo }}</a>
                <span class="badge bg-secondary">{{ libro.autor }}</span>
                </div>
                <div>
                    <a href="{% url 'editar_libro' libro.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'confirmacion_libro' libro.pk %}" class="btn btn-danger btn-sm">Borrar</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay libros disponibles.</p>
{% endif %}

{% endblock %}